

<div class="container home-aboutus">
	<div class="section">
		<div class="row home-row">
			<div class="col push-s3 s6 center">
				<h4>A Little About Us...</h4>
				<p class="left-align light ">This company is about giving back. The reason I made this app was to allow people to give back without taking money from them. Instead, spend some time sitting at a computer doing good for the world. There is so much we can do at our fingertips, here is another way to feel a little better and game your heart out. There are so many platforms to game, and while they are fun, they are the same. Here at Game For Charity you can give back and play. Login or Sign Up to join in the fun of playing and gaming!</p>
			</div>
		</div>
	</div>
</div>

