<div class="container home-content">
	<div class="row">
			
		<div class="col l12">
			<div class="full-slide">
			
				<div class="slider">
				    <ul class="slides">
				      <li>
				        <img src="/assets/bwNMtPe.jpg"> <!-- random image -->
				        <div class="caption left-align grey lighten-3 z-depth-4">
				          <h3 class="light-blue-text text-accent-3 play-games-home">Want to play Games and donate to Charity?</h3>
				          <h5 class="light light-blue-text text-accent-3">Let's play some games then!</h5>
				        </div>
				      </li>
				      <li>
				        <img src="/assets/space-invaders-attack-in-d-arcade-classic.jpg"> <!-- random image -->
				        <div class="caption left-align">
				          <h3 class="light-blue-text text-accent-3">Space Ad Invaders</h3>
				        </div>
				      </li>
				      <li>
				        <img src="/assets/pacman_newon_lights_wallpaper_by_commersrus-d7a9tiy.jpg"> <!-- random image -->
				        <div class="caption right-align">
				          <h3 class="light-blue-text text-accent-3">How about we play some Pac Man Ads?</h3>
				        </div>
				      </li>
				      <li>
				        <img src="/assets/Best-Gaming-Wallpapers-33.jpg"> <!-- random image -->
				        <div class="caption center-align">
				        </div>
				      </li>
				    </ul>
				  </div>
			</div>
		</div>	
	</div>
</div>
<div class="container">
	<div class="section">
		<div class="row">
			<div class="col s12 center">
				<h4>A Little About Us...</h4>
				<p class="left-align light">This company is about giving back. The reason I made this app was to allow people to give back without taking money from them. Instead, spend some time sitting at a computer doing good for the world. There is so much we can do at our fingertips, here is another way to feel a little better and game your heart out. There are so many platforms to game, and while they are fun, they are the same. Here at Game For Charity you can give back and play. Login or Sign Up to join in the fun of playing and gaming!</p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$('.slider').slider();
	</script>