// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.explosion {
	height: 500px;
	width: 420px;
}

.instructions, .instructions-text {
	margin-left: 250px;
}

.welcome-text {
	margin-left: 50px;
}