// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

canvas {
	background-color: #000;
}

#Space {
	width: 100%;
	height: 600px;
	background-color: black;
}

.brand-logo {
  font-family: 'Black Ops One', cursive;
  color: red !important;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  html {
  font-family: 'ABeeZee', sans-serif !important;
  }

  main {
    flex: 1 0 auto;
    height: 100%;
  }

  .home-content {
  	// background: url("RetroStripes1920x1080.jpg");
  	margin: 0;
  	width: 100%;
  	height: 60vh;
  	max-width: 100%;
  }

  .cool-avatar {
  	width: 144px;
  	height: 144px;
  	margin: 10px;
  }

  .game-over, .start-game {
  	font-size: 100px;
  }

  .start-holder {
  	width: 100%;
  }

  .full-slide{
    width: 100%;
    height: 450px;
  }

 