// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

canvas {
	background-color: #000;
}

.default-nav-bar {
  background-color: black !important;
  border-bottom: 1px solid grey;
}

.page-footer {
  margin-top: 0 !important;
  background-color: black !important;
  border-top: 1px solid grey;
}

.home-aboutus {
  padding-top: 5%;
  width: 100%;
  height: 100vh;
  margin-bottom: 0;
  background: url("8-bit.jpg") no-repeat center;
  background-size: 100%;
}

.home-row {
  margin-right: 0 !important;
}

 .gc-logo {
  font-family: 'Black Ops One';
  color: rgb(191, 63, 191) !important;
 }

#Space {
	width: 100%;
	height: 600px;
	background-color: black;

}

.brand-logo {
  font-family: 'Black Ops One';
  font-size: 1.2em !important;
  color: rgb(191, 63, 191) !important;
  margin-top: Calc(35px - 1.2em);
}

.g2charityLogo {
  width: 60px;
  margin-left: 5%;
}

.play-games-home {
  // position: absolute;
  top: 10%;
  left: 0;
}

.charity-name {
  color: rgb(191, 63, 191) !important;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color:black;
    color: white !important;
  }

  html {
  font-family: 'ABeeZee', sans-serif !important;
  }

  main {
    flex: 1 0 auto;
    height: 100%;
    background-color: black;
    background: url("tile.jpeg") no-repeat top;
    background-size: 100%;
    background-position: fixed;

  }

  .cool-avatar {
  	width: 100%;
  	height: 100%;
  	margin: 10px;
  }

  .game-over, .start-game {
  	font-size: 100px;
  }

  .start-holder {
  	width: 100%;
  }

  .full-slide{
    width: 100%;
    height: 450px;
  }

 .profile-name {
  margin-top: 5%;
 }

 .profile-holder {
  padding-top: 10%;
  padding-bottom: 10%;

 }

 .points-holder {
  position: fixed;
  right: 0;
  top: 10%;
 }

 .points-holder h4 {
  padding-left: 10px; 
  border-left: 2px solid red;
  font-family: 'Black Ops One';
 }

